@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.root-container {
  max-width: 2000px;
  margin: auto;
}

.container {
  max-width: 1540px;
  width: 80%;
  margin: auto;
}