@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.root-container {
  max-width: 2000px;
  margin: auto;
}

.container {
  max-width: 1540px;
  width: 80%;
  margin: auto;
  @media (width <= 495px) {
    width: calc(100% - 32px);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  //background: inherit;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.display {
  //display: inline-block !important;
  display: flex !important;
  align-items: flex-start;
  justify-content: space-around;

  @media (width < 957px) {
    flex-direction: column;
    align-items: center;
  }
}