.comment-main {
  width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-top: 1px solid $grey-text;
  padding-top: 16px;

  img {
    width: 44px;
    height: 44px;
  }

  .comment-desc {
    max-width: 581px;
  }

  .comment-info {

    .comment-amount {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 26px;
    }

    .comment-input {
      display: flex;

      input {
        width: 100%;
        background: inherit;
        color: #ffffff;
        border: none;
        outline: none;
        border-bottom: 1px solid $grey-text;
        margin-left: 20px;
      }
    }
  }

  .comments {
    .comments-wrapper {
      .comment-itself {
        display: flex;
        margin: 32px 0;

        .comment-info {
          margin-left: 20px;

          .comment-desc {
            margin-top: 8px;
          }
        }
      }

      .comment-reply {
        display: flex;
        margin: 32px 0 32px 46px;

        .comment-r-info {
          margin-left: 20px;

          .comment-desc {
            margin-top: 8px;
          }
        }
      }
    }
  }

  .load-more {
    background: transparent;
    padding: 12px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    //outline: none;
  }
}

.grey-background {
  background: $grey-text;
  display: inline-block;
  border-radius: 6px;
  padding: 0 6px;
}