.card-wrapper {
  background: rgba(255, 255, 255, 0.04);;
  display: flex;
  height: 234px;
  min-width: 598px;
  margin-right: 32px;
  border-radius: 10px;

  .left-card {
    img {
      height: 100%;
      border-radius: 10px 40% 0 10px;
    }

  }

  .right-card {
    position: relative;
    margin-left: 32px;
    margin-top: 48px;

    .rcard-autor {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
    }

    .rcard-info {
      display: flex;

      * {
        margin-right: 4px;
        margin-top: 10px;
      }
    }

    .rcard-desc {
      min-width: 230px;
      margin-top: 14px;
    }

    .rcard-btn {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(4px);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      right: 32px;
      bottom: 20px;
    }
  }
}