.root-rec {
  border-top: 1px solid $grey-text;
  padding-top: 16px;
  margin-bottom: 80px;
  width: 70%;
  overflow-x: scroll;

  @media (width <= 600px) {
    width: 100%;
  }

  .rec-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  .rec-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    max-width: 400px;
    margin: 8px 0 24px 0;
  }

  .rec-videos {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}