@import "./kit/reset";
@import "./kit/variables";

@import "./components/content/comments";
@import "./components/content/recommended_course";
@import "./components/content/video_lesson";
@import "./components/header";
@import "./components/footer";