@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.root-container {
  max-width: 2000px;
  margin: auto;
}

.container {
  max-width: 1540px;
  width: 80%;
  margin: auto;
}
@media (width <= 495px) {
  .container {
    width: calc(100% - 32px);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment-main {
  width: calc(70% - 32px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 16px;
}
@media (width <= 600px) {
  .comment-main {
    width: 100%;
  }
}
.comment-main img {
  width: 44px;
  height: 44px;
}
.comment-main .comment-desc {
  max-width: 581px;
}
.comment-main .comment-info .comment-amount {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 26px;
}
.comment-main .comment-info .comment-input {
  display: flex;
}
.comment-main .comment-info .comment-input input {
  width: 100%;
  background: inherit;
  color: #ffffff;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 20px;
}
.comment-main .comment-info .comment-input input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
.comment-main .comments .comments-wrapper .comment-itself {
  display: flex;
  margin: 32px 0;
}
.comment-main .comments .comments-wrapper .comment-itself .comment-info {
  margin-left: 20px;
}
.comment-main .comments .comments-wrapper .comment-itself .comment-info .comment-desc {
  margin-top: 8px;
}
.comment-main .comments .comments-wrapper .comment-reply {
  display: flex;
  margin: 32px 0 32px 46px;
}
.comment-main .comments .comments-wrapper .comment-reply .comment-r-info {
  margin-left: 20px;
}
.comment-main .comments .comments-wrapper .comment-reply .comment-r-info .comment-desc {
  margin-top: 8px;
}
.comment-main .load-more {
  background: transparent;
  padding: 12px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 36px;
}

.grey-background {
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  border-radius: 6px;
  padding: 0 6px;
}

.root-rec {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 16px;
  margin-bottom: 80px;
  width: 70%;
  overflow-x: scroll;
}
@media (width <= 600px) {
  .root-rec {
    width: 100%;
  }
}
.root-rec .rec-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.root-rec .rec-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 400px;
  margin: 8px 0 24px 0;
}
.root-rec .rec-videos {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.root-rec .rec-videos::-webkit-scrollbar {
  display: none;
}

.root-video {
  display: flex;
  margin-bottom: 32px;
}
.root-video .left-side {
  display: flex;
  flex-direction: column;
}
.root-video .left-side .left-video {
  height: auto;
  width: 100%;
}
.root-video .left-side .left-side-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
@media (width < 1700px) {
  .root-video .left-side .left-side-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.root-video .left-side .left-side-wrapper .left-video-content .left-video-title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #F8A404;
}
.root-video .left-side .left-side-wrapper .left-video-content .left-video-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 4px;
}
.root-video .left-side .left-side-wrapper .left-video-content .left-video-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 400px;
  margin-top: 12px;
}
.root-video .left-side .left-side-wrapper .mobile-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
@media (width > 1700px) {
  .root-video .left-side .left-side-wrapper .mobile-content {
    display: none;
  }
}
.root-video .left-side .left-side-wrapper .mobile-content button {
  background: transparent;
  outline: none;
  border: none;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.root-video .left-side .left-side-wrapper .right-video-content .first-ch {
  margin-right: 16px;
}
.root-video .left-side .left-side-wrapper .right-video-content button {
  width: 48px;
  height: 48px;
  backdrop-filter: blur(4px);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
@media (width < 1700px) {
  .root-video .left-side .left-side-wrapper .right-video-content {
    display: none;
  }
}
.root-video .right-side {
  margin-left: 32px;
}
@media (width < 1700px) {
  .root-video .right-side {
    display: none;
  }
}
.root-video .right-side .right-lessons-wrapper {
  max-height: 600px;
  overflow-y: scroll;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.83) 63.54%, #080808 100%);
  margin-bottom: 48px;
}
.root-video .right-side .right-lessons-wrapper .right-lessons {
  min-width: 430px;
}
.root-video .right-side .right-lessons-wrapper .right-lessons .r-lessons-header {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  padding: 10px 0 10px 24px;
  margin: 8px 0;
}
.root-video .right-side .right-lessons-wrapper .right-lessons .right-lesson-info {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px 0 20px 24px;
}
.root-video .right-side .right-lessons-wrapper .right-lessons .right-lesson-info .rli-wrapper {
  display: flex;
  justify-content: space-between;
}
.root-video .right-side .right-lessons-wrapper .right-lessons .right-lesson-info .rli-wrapper .r-lessons-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.root-video .right-side .right-lessons-wrapper .right-lessons .right-lesson-info .rli-wrapper .r-lessons-title-d {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-right: 14px;
}
.root-video .right-side .right-lessons-wrapper .right-lessons .right-lesson-info .r-lessons-desc {
  margin-top: 16px;
  width: 340px;
}
.root-video .right-side .right-card-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.root-video .right-side .right-card-info .right-card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  width: 208px;
  height: 114px;
}
.root-video .right-side .right-card-info .right-card .rc-wrapper {
  padding: 16px;
}
.root-video .right-side .right-card-info .right-card .rc-wrapper img {
  height: 48px;
  width: 48px;
}
.root-video .right-side .right-card-info .author {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.root-video .right-side .right-card-info .author img {
  margin-bottom: 14px;
}
.root-video .right-side .right-card-info .lesson-score .ls-score-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 22px;
}
.root-video .right-side .right-card-info .lesson-score .ls-score-title span {
  font-size: 24px;
}
.root-video .right-side .right-card-info .lessons .rc-wrapper {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.root-video .right-side .right-card-info .lessons .rc-wrapper .lesson-number {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 22px;
}
.root-video .right-side .right-card-info .student .rc-wrapper {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.root-video .right-side .right-card-info .student .rc-wrapper img {
  margin-bottom: 14px;
}

.active-back {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 10px;
}

.card-wrapper {
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  height: 234px;
  min-width: 598px;
  margin-right: 32px;
  border-radius: 10px;
}
.card-wrapper .left-card img {
  height: 100%;
  border-radius: 10px 40% 0 10px;
}
.card-wrapper .right-card {
  position: relative;
  margin-left: 32px;
  margin-top: 48px;
}
.card-wrapper .right-card .rcard-autor {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}
.card-wrapper .right-card .rcard-info {
  display: flex;
}
.card-wrapper .right-card .rcard-info * {
  margin-right: 4px;
  margin-top: 10px;
}
.card-wrapper .right-card .rcard-desc {
  min-width: 230px;
  margin-top: 14px;
}
.card-wrapper .right-card .rcard-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  background: #000000;
  top: 0;
}
header .left {
  display: flex;
  align-items: center;
}
header .left .header-logo {
  width: 148px;
  height: 32px;
}
header .left .header-border {
  border: 1px solid rgba(255, 255, 255, 0.08);
  transform: rotate(90deg);
  width: 48px;
}
header .left .header-avatar {
  width: 48px;
  height: 48px;
}
header .right .header-user-avatar {
  width: 48px;
  height: 48px;
}

.wrapper {
  background: #1E1E1E;
}
.wrapper footer {
  width: 70%;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
@media (width <= 495px) {
  .wrapper footer {
    width: 100%;
    text-align: center;
  }
}
.wrapper footer main {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (width <= 1275px) {
  .wrapper footer main {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (width <= 495px) {
  .wrapper footer main {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.wrapper footer main .first-logo .first-logo-logo {
  width: 148px;
  height: 32px;
  margin-bottom: 12px;
}
.wrapper footer main .first-logo .first-l-title {
  max-width: 270px;
  margin-bottom: 36px;
}
@media (width <= 495px) {
  .wrapper footer main .first-logo .first-l-title {
    margin: auto;
  }
}
.wrapper footer main .first-logo .footer-social-media img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.wrapper footer main .second-courses .grey-text {
  margin-bottom: 24px;
}
.wrapper footer main .second-courses p {
  margin-bottom: 20px;
}
.wrapper footer main .third-policy .grey-text {
  margin-bottom: 24px;
}
.wrapper footer main .third-policy p {
  margin-bottom: 20px;
}
.wrapper footer main .fourth-news .grey-text {
  margin-bottom: 24px;
}
.wrapper footer main .fourth-news .fourth-title {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  max-width: 324px;
  margin-bottom: 20px;
}
@media (width <= 495px) {
  .wrapper footer main .fourth-news .fourth-title {
    margin: auto;
  }
}
.wrapper footer main .fourth-news .fourth-anc {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #38A5E0;
  width: 160px;
  height: 48px;
  border-radius: 10px;
}
.wrapper footer main .fourth-news .fourth-anc img {
  width: 24px;
  height: 24px;
}
.wrapper footer main .fourth-news .fourth-anc p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-left: 8px;
}
@media (width <= 495px) {
  .wrapper footer main .fourth-news .fourth-anc {
    width: 100%;
  }
}
.wrapper footer .footer-addition {
  display: flex;
  align-items: center;
  height: 96px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 56px;
}
@media (width <= 495px) {
  .wrapper footer .footer-addition {
    justify-content: center;
  }
}
.wrapper footer .footer-addition .footer-add-logo {
  width: 110px;
  height: 24px;
}
.wrapper footer .footer-addition .footer-add-title {
  margin-left: 40px;
}
.wrapper footer .footer-addition .footer-add-sec {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.wrapper footer .footer-addition .footer-add-sec img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.grey-text {
  color: rgba(255, 255, 255, 0.4);
}

/*# sourceMappingURL=styles.css.map */
